@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soylent Green Ventures Reservation</h1>
    
</div>

<form>
    <div class="card">
        <img class="card-img-overlay" src="" C:\Users\User\Documents\UniSA\Study Period 5\Project Studio\SGVApplication\bambooleafwebapp\BG.jpg"" />

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserID</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" Enter userID " aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    
    <div class="text-center d-grid gap-2 col-6 mx-auto">
        <button type="submit" class=" btn btn-outline-primary mr-1">Login</button>
    </div>

    <div class="text-center d-grid gap-5 col-6 mx-auto ">
        <button type="submit" class="btn btn-outline-primary mr-1">Sign up</button>
    </div>

</form>
