
@{
}

<div class="text-center">
    <h1 class="display-4">Registration Form</h1>
</div>

<form class="row g-3" action="#">
    <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" id="firstName" class="form-control" placeholder="Enter your first name" required>
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" id="lastName" class="form-control" placeholder="Enter your last name" required>
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" class="form-control" placeholder="Enter your email" required>
    </div>

    <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" id="phoneNumber" class="form-control" placeholder="Enter your number" required>
    </div>

    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="text" id="password" class="form-control" placeholder="Enter your password" required>
    </div>

    <div class="col-md-6">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="text" id="confirmPassword" class="form-control" placeholder="Confirm your password" required>
    </div>

    <div class="col-md-6 text-right">
        <a href="/Home/#" class="link-primary">Already have an account?</a>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>

</form>

