<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soylent Green Venture</title>
    <link rel="stylesheet" href="styling.css">
</head>
<body>
    <div class="container">
        <div class="loginForm">
            <div class="loginDetails">
                <b class="title">Login</b>
                <div class="inputInfo">
                    <input type="text" placeholder="Enter username" required>


                </div>
                <div class="inputInfo">
                    <input type="text" placeholder="Enter password" required>


                </div>

                
            </div>


        </div>


    </div>

 
    

      
</body>
</html>